/* Fonts ----------------------------*/
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: 'MerriweatherLightItalic';
  src: url(../fonts/Merriweather-LightItalic.otf);
}
@font-face {
  font-family: 'MerriweatherLightItalic';
  src: url(../fonts/Merriweather-Regular.otf);
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeueLTPro-Lt.ttf);
}
/* Reset Styles ----------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Site Styles ----------------------------*/
html {
  font-size: 16px;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

input, textarea, button, select, label, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2 {
  font-weight: normal;
}

h2 {
  font-size: 1.4rem;
}

h1 {
  font-family: "HelveticaNeue", sans-serif;
  color: #222222;
  font-size: 1.6rem;
  line-height: 0.8em;
  letter-spacing: 0.05em;
  margin-bottom: 1.4rem;
  flex: 1 1 100%;
}

p {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* Page Styles ----------------------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 50px;
  background: #222222;
  text-align: center;
}
header > a {
  line-height: 0;
}
header > a:hover {
  animation: logo 1s ease-in-out 1;
}
header .logo {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  animation: logo 1s ease-in-out 1 5s;
}
@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  height: 0px;
}
nav ul {
  background: #222222;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav li {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  min-width: 88px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #000000;
}
nav li:first-child {
  border-top: 0;
}
nav a {
  padding: 1rem;
  display: block;
  position: relative;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  transition: opacity .25s ease-in-out;
}
nav a:hover {
  color: #989696;
}
nav input {
  display: none;
}
nav #navToggle:checked ~ ul {
  transform: scale(1, 1);
}
nav #navToggle:checked ~ ul li a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 200ms;
}
nav #navToggle:checked ~ label:before {
  transform: translateY(7px) rotate(135deg);
  width: 1.4em;
  margin-left: 5px;
}
nav #navToggle:checked ~ label:after {
  transform: translateY(-9px) rotate(-135deg);
  width: 1.4em;
  margin-left: 5px;
}
nav #navToggle:checked ~ label span {
  transform: scale(0);
}
nav label {
  position: absolute;
  top: 10px;
  right: 1rem;
  color: #ffffff;
  cursor: pointer;
}
nav label span, nav label:before, nav label:after {
  content: '';
  display: block;
  background: #ffffff;
  height: 3px;
  margin: 5px 0;
  width: 2em;
  border-radius: 2px;
  position: relative;
  transition: all .2s ease-in-out;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 50px 20px 50px 20px;
}

#home {
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  background: #ffffff url(../images/sjb-bg.gif) no-repeat center/contain;
}
#home div {
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
}
#home div:before, #home div:after {
  content: '';
  border: 2px solid transparent;
  border-radius: 4px;
  opacity: 0.4;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}
#home div:before {
  animation: slideTopRight 1s ease-out 3.5s 1 forwards;
}
#home div:after {
  animation: slideRightBottom 1s ease-out 4s 1 forwards;
}
@keyframes slideTopRight {
  50% {
    width: 100%;
    height: 0%;
    border-top-color: #222222;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #222222;
    border-right-color: #222222;
  }
}
@keyframes slideRightBottom {
  50% {
    width: 0%;
    height: 100%;
    border-left-color: #222222;
  }
  100% {
    width: 100%;
    height: 100%;
    border-bottom-color: #222222;
    border-left-color: #222222;
  }
}
#home h1 {
  color: #222222;
  margin-bottom: 0.5rem;
  opacity: 0;
  animation: fadeInH1 2s ease-out 1s 1 forwards;
}
#home h2 {
  font-family: 'MerriweatherLightItalic', sans-serif;
  font-style: italic;
  color: #222222;
  font-size: 1rem;
  letter-spacing: 0.04em;
  margin-bottom: 1rem;
  opacity: 0;
  animation: fadeInH2 1s ease-in 1.5s 1 forwards;
}
@keyframes fadeInH1 {
  100% {
    opacity: 1;
  }
}
@keyframes fadeInH2 {
  100% {
    opacity: 0.8;
  }
}
@keyframes slideFromLeft {
  80% {
    left: 20px;
  }
  100% {
    left: 0;
  }
}
#home .btn {
  padding: 0.6rem 2.5rem;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  position: relative;
  z-index: 10;
  box-shadow: inset 0 0 0 2px #222222;
  display: inline-block;
  left: -350px;
  animation: slideFromLeft 0.5s ease-out 2.5s 1 forwards;
}
#home .btn:before, #home .btn:after {
  content: '';
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}
#home .btn:hover {
  color: #989696;
}
#home .btn:hover:before, #home .btn:hover:after {
  width: 100%;
  height: 100%;
}
#home .btn:hover:before {
  border-top-color: #989696;
  border-right-color: #989696;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
#home .btn:hover:after {
  border-bottom-color: #989696;
  border-left-color: #989696;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
#home .next {
  position: absolute;
  bottom: 1.4rem;
  color: #989696;
  font-size: 1.8rem;
  animation: next 1.4s ease-in infinite 2s;
}
@keyframes next {
  50% {
    bottom: 1.2rem;
  }
}
#about {
  background: #222222 url(../images/bg-about.jpg) no-repeat fixed center/cover;
  color: #ffffff;
}
#about h1 {
  color: #ffffff;
}

#skills {
  padding: 50px 0;
}
#skills p {
  margin-bottom: 0;
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
}
#skills p.description {
  color: #989696;
}
#skills i {
  font-size: 3rem;
  line-height: 0.85;
  color: #222222;
  margin-bottom: 0.5rem;
}
#skills img {
  width: 2.625rem;
  margin-bottom: 0.6rem;
}
#skills em {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 0.6rem;
  color: #989696;
}
#skills em:before {
  content: '(';
}
#skills em:after {
  content: ')';
}
#skills div {
  flex: 1 1 50%;
  margin-bottom: 2rem;
  padding: 0 10px;
}

#career {
  padding-bottom: 70px;
  background: #222222;
  color: #ffffff;
  position: relative;
}
#career h1 {
  color: #ffffff;
}
#career div {
  flex-basis: 48%;
  position: relative;
  padding: 0.8rem;
  border-radius: 3px;
  margin-bottom: 2rem;
}
#career div p {
  margin-bottom: 0;
}
#career div p.description {
  font-family: 'Montserrat', sans-serif;
  color: #989696;
  font-size: 0.75rem;
  margin-top: 5px;
}
#career div.left {
  left: -20px;
  text-align: right;
}
#career div.left:after {
  content: '';
  width: 20px;
  height: 20px;
  background: #222222;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  right: -30px;
}
#career div.right {
  text-align: left;
  position: relative;
  top: 60px;
  right: -20px;
}
#career div.right:before {
  content: '';
  width: 20px;
  height: 20px;
  background: #222222;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 19px;
  left: -30px;
}
#career:before {
  content: '';
  height: 72%;
  width: 4px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 88px;
}

#education {
  background: lightdark;
  color: #222222;
}
#education h1 {
  color: #222222;
}

#work {
  background: #222222 url(../images/bg-about.jpg) no-repeat fixed center/cover;
  color: #ffffff;
}
#work h1 {
  color: #ffffff;
}
#work * {
  flex: 1 1 100%;
}
#work div {
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 0.6rem;
}

/* Breakpoints ----------------------------*/
@media (max-width: 359px) and (min-width: 320px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 480px) {
  #skills div {
    flex-basis: 33.333%;
  }
}
@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
  header > a {
    position: absolute;
    background: #222222;
    padding: 0.2rem;
    top: 0;
    border-radius: 50%;
  }
  header .logo {
    margin: 0;
    z-index: 999;
  }
  header label {
    display: none;
  }
  header nav {
    height: auto;
  }
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: none;
    transition: unset;
  }
  header nav li {
    font-size: 0.75rem;
    border: 0;
  }
  header nav li:nth-of-type(3) {
    margin-right: 56px;
  }
  header nav li:nth-of-type(4) {
    margin-left: 56px;
  }
  header nav li a {
    padding: 0 1rem;
    opacity: 1;
    transition: unset;
  }

  #home {
    background-size: cover;
    background-position-x: -6px;
  }
  #home h1 {
    font-size: 2.4rem;
  }

  #about p {
    width: 80%;
  }

  #skills div {
    flex: 1;
    margin-bottom: 0;
  }

  #career div {
    flex-basis: 40%;
  }

  #education p {
    width: 80%;
  }

  #work div {
    flex: 1;
    margin: 0 10px;
  }
}
