/* Fonts ----------------------------*/
@import url("https://fonts.googleapis.com/css?family=Kanit:500");
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: 'MerriweatherLightItalic';
  src: url(../fonts/Merriweather-LightItalic.otf);
}
@font-face {
  font-family: 'MerriweatherLightItalic';
  src: url(../fonts/Merriweather-Regular.otf);
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeueLTPro-Lt.ttf);
}
/* Reset Styles ----------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Site Styles  ----------------------------*/
html {
  font-size: 16px;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

input, textarea, button, select, label, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2 {
  font-weight: normal;
}

h2 {
  font-size: 1.4rem;
}

h1 {
  font-family: "HelveticaNeue", sans-serif;
  color: #222222;
  font-size: 1.6rem;
  line-height: 0.8em;
  letter-spacing: 0.05em;
  margin-bottom: 1.4rem;
  flex: 1 1 100%;
}

p {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* Page Styles ----------------------------*/
body input {
  display: none;
}

label {
  cursor: pointer;
}

/* Header bar ----------------------------*/
header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 100vw;
  opacity: 0.9;
  color: #ffffff;
  padding: 0.5rem 1rem;
  /*transition: all 1500ms linear;*/
  /* Mobile nav dropdown animation */
}
header > a {
  line-height: 0;
  display: inline-block;
}
header .logo {
  flex: 1 1 50%;
  z-index: 999;
}
header .logo label {
  display: block;
  line-height: 0;
  width: 36px;
  height: 36px;
  background: url(../images/sjb-dark.png) no-repeat 0/cover;
  transition: transform 1000ms ease, background 500ms linear 400ms;
}
header label[for="navToggle"] {
  color: #ffffff;
  cursor: pointer;
  z-index: 999;
}
header label[for="navToggle"] span, header label[for="navToggle"]:before, header label[for="navToggle"]:after {
  content: '';
  display: block;
  background: #222222;
  height: 3px;
  margin: 5px 0;
  width: 2em;
  border-radius: 2px;
  position: relative;
  z-index: 999;
  transition: transform 200ms ease-in-out, background 200ms ease-in-out 400ms;
}
header nav {
  flex: 1 1 100%;
  height: 0;
  overflow: hidden;
  background: #222222;
  position: absolute;
  width: 100%;
  top: 0;
  transition: height 500ms cubic-bezier(0.42, 0, 0.59, 0.99);
}
header nav ul {
  display: flex;
  flex-direction: column;
  transition: padding 1000ms;
}
header nav li {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding-top: 1rem;
  text-align: right;
}
header nav label {
  display: inline-block;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
header nav label:hover {
  color: #989696;
}
header #navToggle:checked ~ nav {
  height: 100vh;
}
header #navToggle:checked ~ nav ul {
  padding: 3rem 1.4em;
  transition: padding 1000ms;
}
header #navToggle:checked ~ nav ul li label {
  opacity: 1;
  transition: opacity 450ms ease-in-out;
}
header #navToggle:checked ~ label:before {
  transform: translateY(7px) rotate(135deg);
  width: 1.4em;
  margin-left: 5px;
}
header #navToggle:checked ~ label:after {
  transform: translateY(-9px) rotate(-135deg);
  width: 1.4em;
  margin-left: 5px;
}
header #navToggle:checked ~ label span {
  transform: scale(0);
}
header #navToggle:checked ~ label[for="navToggle"] span,
header #navToggle:checked ~ label[for="navToggle"]:before,
header #navToggle:checked ~ label[for="navToggle"]:after {
  background: #ffffff;
  transition: all 200ms ease-in-out 100ms, background 200ms ease;
}
header #navToggle:checked ~ .logo label {
  background-image: url(../images/sjb-light.png);
  transform: rotate(-20deg);
  transition: all 1000ms ease;
}

/* Navigation controls ----------------------------*/
#home:checked ~ section,
#about:checked ~ section,
#skills:checked ~ section,
#career:checked ~ section,
#education:checked ~ section,
#work:checked ~ section,
#hobbies:checked ~ section,
#contact:checked ~ section {
  opacity: 0;
  transition: opacity 500ms linear;
}

#home:checked ~ .home,
#about:checked ~ .about,
#skills:checked ~ .skills,
#career:checked ~ .career,
#education:checked ~ .education,
#work:checked ~ .work,
#hobbies:checked ~ .hobbies,
#contact:checked ~ .contact {
  top: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity 500ms linear;
}

input.dark:checked ~ header {
  color: #222222;
  transition: color 1500ms linear;
}

input.dark:checked ~ header .logo label {
  background-image: url(../images/sjb-light.png);
  transition: transform 500ms linear, background 1500ms linear;
}

input.dark:checked ~ header label[for="navToggle"] span,
input.dark:checked ~ header label[for="navToggle"]:before,
input.dark:checked ~ header label[for="navToggle"]:after {
  background: #ffffff;
}

/* Page sections ----------------------------*/
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 60px 20px 30px 20px;
  min-height: 100vh;
  width: 100vw;
  opacity: 0;
  position: absolute;
  top: -9999px;
}

section.home {
  top: 0;
  opacity: 1;
  z-index: 1;
  align-items: center;
  background: #ffffff url(../images/sjb-bg.gif) no-repeat center/contain;
}
section.home div {
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
}
section.home div:before, section.home div:after {
  content: '';
  border: 2px solid transparent;
  border-radius: 4px;
  opacity: 0.4;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}
section.home div:before {
  animation: slideTopRight 1s ease-out 3.5s 1 forwards;
}
section.home div:after {
  animation: slideRightBottom 1s ease-out 4s 1 forwards;
}
@keyframes slideTopRight {
  50% {
    width: 100%;
    height: 0%;
    border-top-color: #222222;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #222222;
    border-right-color: #222222;
  }
}
@keyframes slideRightBottom {
  50% {
    width: 0%;
    height: 100%;
    border-left-color: #222222;
  }
  100% {
    width: 100%;
    height: 100%;
    border-bottom-color: #222222;
    border-left-color: #222222;
  }
}
section.home h1 {
  color: #222222;
  margin-bottom: 0.5rem;
  opacity: 0;
  animation: fadeInH1 2s ease-out 1s 1 forwards;
}
section.home h2 {
  font-family: 'MerriweatherLightItalic', sans-serif;
  font-style: italic;
  color: #222222;
  font-size: 1rem;
  letter-spacing: 0.04em;
  margin-bottom: 1rem;
  opacity: 0;
  animation: fadeInH2 2s ease-in 1.5s 1 forwards;
}
@keyframes fadeInH1 {
  100% {
    opacity: 1;
  }
}
@keyframes fadeInH2 {
  100% {
    opacity: 0.8;
  }
}
@keyframes slideFromLeft {
  80% {
    left: 20px;
  }
  100% {
    left: 0;
  }
}
section.home .btn {
  padding: 0.6rem 2.5rem;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  position: relative;
  z-index: 10;
  box-shadow: inset 0 0 0 2px #222222;
  display: inline-block;
  left: -350px;
  animation: slideFromLeft 500ms ease-out 2.5s 1 forwards;
}
section.home .btn:before, section.home .btn:after {
  content: '';
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}
section.home .btn:hover {
  color: #989696;
}
section.home .btn:hover:before, section.home .btn:hover:after {
  width: 100%;
  height: 100%;
}
section.home .btn:hover:before {
  border-top-color: #989696;
  border-right-color: #989696;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
section.home .btn:hover:after {
  border-bottom-color: #989696;
  border-left-color: #989696;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
section.home .next {
  position: absolute;
  bottom: 1.4rem;
  color: #989696;
  font-size: 1.8rem;
  animation: next 1.4s ease-in infinite 2s;
}
@keyframes next {
  50% {
    bottom: 1.2rem;
  }
}
section.about {
  background: #222222;
  color: #ffffff;
}
section.about h1 {
  color: #ffffff;
}

section.skills p {
  margin-bottom: 0;
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
}
section.skills p.description {
  color: #989696;
}
section.skills i {
  font-size: 3rem;
  line-height: 0.85;
  color: #222222;
  margin-bottom: 0.5rem;
}
section.skills img {
  width: 2.625rem;
  margin-bottom: 0.6rem;
}
section.skills em {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 0.6rem;
  color: #989696;
}
section.skills em:before {
  content: '(';
}
section.skills em:after {
  content: ')';
}
section.skills div {
  flex: 1 1 50%;
  margin-bottom: 2rem;
  padding: 0 10px;
}

section.career {
  padding-bottom: 100px;
  background: #222222;
  color: #ffffff;
}
section.career h1 {
  color: #ffffff;
}
section.career h2 {
  font-size: 1.2rem;
}
section.career > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: relative;
}
section.career > div:before {
  content: '';
  height: calc(100% + 50px);
  width: 4px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 0;
}
section.career > div div {
  flex-basis: calc(50% - 20px);
  position: relative;
  padding: 0.8rem 0;
  border-radius: 3px;
  margin-bottom: 2rem;
}
section.career > div div h2 {
  color: #05a8aa;
}
section.career > div div p {
  margin-bottom: 0;
}
section.career > div div p.jobTitle {
  margin-bottom: 8px;
  position: relative;
}
section.career > div div ul.description, section.career > div div p.company {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  margin-top: 6px;
}
section.career > div div ul.description li, section.career > div div p.company li {
  color: #989696;
  margin-bottom: 6px;
}
section.career > div .left {
  left: -20px;
  text-align: right;
}
section.career > div .left p.jobTitle:after {
  right: 0;
}
section.career > div .left:after {
  content: '';
  width: 20px;
  height: 20px;
  background: #222222;
  border: 2px solid #05a8aa;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 17px;
  right: -30px;
}
section.career > div .right {
  text-align: left;
  position: relative;
  top: 100px;
  right: -20px;
}
section.career > div .right p.jobTitle:after {
  left: 0;
}
section.career > div .right:before {
  content: '';
  width: 20px;
  height: 20px;
  background: #222222;
  border: 2px solid #05a8aa;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 17px;
  left: -30px;
}

section.education {
  background: #ffffff;
  color: #222222;
}
section.education h1 {
  color: #222222;
}

section.work {
  background: #222222;
  color: #ffffff;
}
section.work h1 {
  color: #ffffff;
}
section.work * {
  flex: 1 1 100%;
}
section.work div {
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 0.6rem;
}

/* Breakpoints ----------------------------*/
@media (max-width: 359px) and (min-width: 320px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 480px) {
  section.skills div {
    flex-basis: 33.333%;
  }
}
@media (min-width: 600px) {
  header .logo {
    position: absolute;
    padding: 0.2rem;
    top: 0;
  }
  header .logo label {
    background-image: url(../images/sjb-light.png);
  }
  header label[for="navToggle"] {
    display: none;
  }
  header nav {
    height: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 42px;
  }
  header nav ul {
    flex-direction: row;
    flex-basis: 88%;
    transform: none;
    transition: unset;
    height: auto !important;
  }
  header nav li {
    flex: 1;
    text-align: center;
    padding: 0;
    font-size: 0.75rem;
    border: 0;
  }
  header nav li:nth-of-type(4) {
    margin-right: 56px;
  }
  header nav li:nth-of-type(5) {
    margin-left: 56px;
  }
  header nav li label {
    opacity: 1;
    transition: unset;
  }
  header nav .about {
    display: none;
  }

  section.home {
    background-size: cover;
    background-position-x: -6px;
  }
  section.home h1 {
    font-size: 2.4rem;
  }
  section.about p {
    width: 80%;
  }
  section.skills div {
    flex: 1;
    margin-bottom: 0;
  }
  section.career div div {
    flex-basis: 40%;
  }
  section.education p {
    width: 80%;
  }
  section.work div {
    flex: 1;
    margin: 0 10px;
  }
}
