/* Grid Styles ----------------------------*/
img {
    width: auto; 
    max-width: 100%;
    height: auto !important;
}

.container {
    width: 100%; 
    margin: 0 auto;
}

.container, .row {
    *zoom: 1;
    &:before, 
    &:after {content: " "; display: table;}
    &:after {clear: both;}
}

[class*="col-"] {
    float: left; 
    padding: $gridColPadding; 
    width: 100%;
}

/* Grid Breakpoints ----------------------------*/
@media #{$breakpointMedium} {
    .container {
        max-width: $gridMaxWidth;
    }
    .row {
        margin-left: -20px; 
        margin-right: -20px;
    }
    @for $i from 1 through $gridColumns {
        .col-#{$i} {width: 100% / $gridColumns * $i;}
    }
}
