// Breakpoints Variables ----------------------------/
$breakpointXsmall: "only screen and (min-width: 480px)";
$breakpointSmall: "only screen and (min-width: 768px)";
$breakpointMedium: "only screen and (min-width: 992px)";
$breakpointLarge: "only screen and (min-width: 1200px)";

// Grid Variables ----------------------------/
$gridColumns: 12;
$gridMaxWidth: 1040px;
$gridColPadding: 0 20px;

// Site Variables ----------------------------/
$mainBgColor: #ffffff;
$mainFontColor: #ffffff;
$mainFontStack: Arial, sans-serif;
$mainFontSize: 12px;
$secondaryFontColor: #5d5c61;
$headerFontStack: Arial, sans-serif;
