// Breakpoints Variables ----------------------------/
$XXsmall: "(max-width: 359px) and (min-width: 320px)";
$Xsmall: "(min-width: 480px)";
$desktop: "(min-width: 600px)";

// Site Variables ----------------------------/
$primary: #989696;
$primaryDark:#525151;
$secondary: #05a8aa;
$secondaryDark: #035b5d;
$light: #ffffff;
$dark: #222222;

$mainFontStack: 'Roboto', sans-serif;
$headingFontStack: 'HelveticaNeue', sans-serif;