// Breakpoints Variables ----------------------------/
$breakpointXXsmall: "only screen and (max-width: 359px) and (min-width: 320px)";
$breakpointXsmall: "only screen and (min-width: 480px)";
$breakpointSmall: "only screen and (min-width: 768px)";
$breakpointMedium: "only screen and (min-width: 992px)";
$breakpointLarge: "only screen and (min-width: 1200px)";

// Site Variables ----------------------------/
$primary: #989696;
$light: #ffffff;
$dark: #222222;
$mainFontStack: 'Roboto', sans-serif;
$headingFontStack: 'HelveticaNeue', sans-serif;