@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: 'MerriweatherLightItalic';
  src: url(../fonts/Merriweather-LightItalic.otf);
}
@font-face {
  font-family: 'MerriweatherLightItalic';
  src: url(../fonts/Merriweather-Regular.otf);
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url(../fonts/HelveticaNeueLTPro-Lt.ttf);
}
@import 'variables';
@import 'base';

/* Page Styles ----------------------------*/
header {
    position: fixed;
    z-index: 999;
    width: 100%;
    min-height: 48px;
    text-align: center;
    
}
header > input[type="checkbox"] {display: none;}
header nav {
    background: $dark;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}
header nav ul li a {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}
header nav ul li {
    padding: 1rem;
    font-size: 0.8rem;
    font-family: $mainFontStack;
    min-width: 88px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #000000;
}
header nav ul li:first-child {border-top: 0;}
header nav ul li a:hover {color: $light;}  

label[for="navToggle"] {
    position: absolute;
    top: 1.2em;
    right: 1em;
    z-index: 999;
    color: $light;
    
}
label[for="navToggle"] span, label[for="navToggle"] span:before, label[for="navToggle"] span:after {
    display: block;
    background: $light;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
label[for="navToggle"] span:before, label[for="navToggle"] span:after {
    content: '';
    position: absolute;
}

label[for="navToggle"] span:before {bottom: 8px;}
label[for="navToggle"] span:after {top: 8px}
#navToggle:checked ~ nav ul li a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
#navToggle:checked ~ nav {
    transform: scale(1, 1);
}
header .logo {background: $dark; z-index: 999;}
header .logo img {
    margin: 0.3rem auto 0 auto;
    width: 40px;
    height: 40px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    align-items: center;
    padding: 20px;
}
.btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: block;
    color: $dark;
    padding: 0.8rem 4rem;
    border: 2px solid #1d1d1d;
    font-size: 0.9rem;
    &:hover {color: $primary; border-color: $primary;}
}


#home {
    background: $light url(../images/sjb-bg.gif) no-repeat center/contain;
}
#home div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#home h1 {
    color: $dark;
    margin-bottom: 0;
}
#home h2 {
    font-family: 'MerriweatherLightItalic', sans-serif;
    font-style: italic;
    color: #989696;
    font-size: 1rem;
    letter-spacing: 0.04em;
    margin-bottom: 1rem;
}
#home .btn {
    background: $light;
}
#home .nextPage {
    background: url(../images/down-arrow.png) no-repeat;
    width: 36px;
    height: 54px;
    position: absolute;
    top: 32vh;
}
#about {
    background: $dark;
    color: $light;
}
#about h1 {
    color: $light;
}
#career {
    background: $primary;
    color: $light;
}
#career h1 {
    color: $light;
}
#education {
    background: $dark;
    color: $primary;
}
#education h1 {
    color: $primary;
}
/* Breakpoints ----------------------------*/
@media #{$breakpointXXsmall} {
    html {font-size: 14px;}
}

@media #{$breakpointSmall} {
    label[for="navToggle"] {display: none;}
    header {display: flex; justify-content: center;}
    header nav {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: none;
        transition: unset;
    }
    header nav ul li a {opacity: 1; transition: unset;}
    header nav  ul {
        display: flex;
        margin-top: 0;
    }
    header .logo {position: absolute; margin: 0;}
    #home .nextPage {
        top: 36vh;
    }
    #home {
        background-size: cover;
        background-position-x: -6px;
    }
    h1 {
        font-size: 2.4rem;
    }
    
    header nav ul li:nth-of-type(3) {
        margin-right: 56px;
    }
    header nav ul li:nth-of-type(4) {
        margin-left: 56px;
    }
    header nav ul li {border: 0;}
}

@media #{$breakpointMedium} {
    
}

@media #{$breakpointLarge} {
    
}
