@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat-Regular.otf);
}
@font-face {
  font-family: 'Merriweather';
  src: url(Merriweather-Regular.otf);
}
@font-face {
  font-family: 'Roboto';
  src: url(Roboto-Regular.ttf);
}
@import 'variables';
@import 'base';

/* Page Styles ----------------------------*/
header {
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;
    min-height: 48px;
    justify-content: center;
    background: $dark;
}
header ul {
    text-align: center;
    margin-top: 56px;
    display: none;
}
header ul li {
    padding: 1rem;
    font-size: 0.8rem;
    font-family: $mainFontStack;
    min-width: 88px;
}
header .sjb {
    position: absolute;
    top: 3px;
    width: 40px;
    height: 40px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    align-items: center;
    padding: 20px;
}
.btn {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    display: block;
    color: $dark;
    padding: 0.8rem 5rem;
    border: 2px solid #1d1d1d;
    font-size: 0.9rem;
}
}
#home {
    background: $white url(../images/sjb-bg.gif) no-repeat center/contain;
}
#home div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#home h1 {
    color: $dark;
    margin-bottom: 0;
}
#home h2 {
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    color: #989696;
    font-size: 1rem;
    letter-spacing: 0.04em;
    margin-bottom: 1rem;
}
#home .btn {
    background: $light;
}
#home .nextPage {
    background: url(../images/down-arrow.png);
    width: 36px;
    height: 54px;
    position: absolute;
    top: 35vh;
}
#about {
    background: $dark;
    color: $light;
}
#career {
    background: $primary;
    color: $light;
}
#education {
    background: $dark;
    color: $primary;
}

/* Breakpoints ----------------------------*/
@media #{$breakpointXXsmall} {
    html {font-size: 14px;}
}

@media #{$breakpointSmall} {
    header ul {
        display: flex;
        margin-top: 0;
    }
    #home .nextPage {
        top: 38vh;
    }
    #home {
        background-size: cover;
        background-position-x: -6px;
    }
    h1 {
        font-size: 2.4rem;
    }
}

@media #{$breakpointMedium} {
    
}

@media #{$breakpointLarge} {
    
}
