// Breakpoints Variables ----------------------------/
$XXsmall: "only screen and (max-width: 320px)";
$Xsmall: "only screen and (max-width: 480px)";
$medium: "only screen and (max-width: 768px)";
$large: "only screen and (max-width: 960px)";
$Xlarge: "only screen and (max-width: 1016px)";
$XXlarge: "only screen and (max-width: 1134px)";

// Site Variables ----------------------------/
$light: #ffffff;
$dark: #2d3c3c;
$green: #91df5a;
$red :#e64b50;
$pink: #d121a1;
$orange: #FF9900;
$purple: #7838fb;
$yellow: #ffd400;
$grey: #e6e7e8;
$lightGrey: #f1f2f2;

$mainFont: 'ObjektivMk1-Light', sans-serif;
$boldFont: 'ObjektivMk1-Bold', sans-serif;